@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor-branco: #f5f5f5;
    --cor-amarelo: #ffb347;
    --cor-laranja: #ff7a00;
    --cor-preto: rgba(0, 0, 0, 0.7);

    --bg-cor-menu: #8b4513;
    --bg-cor-clara: #f5e6cc;
    --bg-cor-escura: #cc6b1c;
    --bg-cor-sec: #f2a65a;

    --cor-destaque: #ff8c00;
    --cor-destaque-sec: #e67300;

    --fonte-padrao: "Nunito", sans-serif;
    --gap-padrao: 20px;
    --borda-arredondada: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
}

.menu {
    background-color: var(--bg-cor-menu);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    color: var(--cor-laranja);
    font-weight: bold;
}

.logo span {
    color: var(--cor-amarelo);
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.page-title {
    background: linear-gradient(135deg, var(--bg-cor-escura), var(--cor-destaque));
    text-align: center;
    padding: 60px;
    color: white;
}

.sessao {
    padding: 40px;
    background: var(--bg-cor-clara);
    text-align: center;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    padding: 70px;
}

.item {
    background: var(--bg-cor-clara);
    border-radius: var(--borda-arredondada);
    overflow: hidden;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.footer {
    background: var(--bg-cor-escura);
    color: white;
    text-align: center;
    padding: 20px;
}

.contato {
    display: block;
}

.contato ul {
    background-color: #ff8c00;
    border-radius: var(--borda-arredondada);
    padding: 10px 20px;
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}

.contato li {
    list-style: none;
    margin: 5px 0;
}

.contato a {
    color: white;
    text-decoration: none;
}